body,html {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 10px;
    margin: 0 0 20px;
    border-bottom: 1px solid #ccc;
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
	display: flex;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    height: 100%;
    padding: 0 15%;
    box-sizing: border-box;
    background-color: rgba(255,255,255, 0.8);
}
.loader span {
    
}
.formWrapper {
    position: relative;
    padding: 0 0 10px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
}
.grid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.gridRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.gridRow.gridHeader {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    font-weight: bold;
    background: #fff;
}
.gridCell {
    margin: 5px 10px;
    min-width: 120px;
}
.gridCell.narrow {
    min-width: 50px;
}
.gridCell.wide {
	min-width: 250px;
}

.gridCell.text {
    font-weight: normal;
}

#txtFilter {
    width:  350px;
}

#tblCountryList {
    width: 640px;
}
#tblCountryList .gridRow:nth-child(odd) {
    background: #efefef;
}

.gridCell.cName {
    min-width: 200px;
}
.gridCell div {
	float: left;
	margin: 0 0 10px;
}
.gridCell .x-name {
	clear: left;
	width: 80px;
}
.gridCell .x-prop {
	clear: right;
	padding: 0 0 0 20px;
}
.gridCell .x-guid {
    clear: left;
    text-align: right;
    min-width: 20px;
    margin-right: 10px;
}
.gridCell .x-guid + .x-name {
    clear: right;
    width: 150px;
}

#formAddData select {
	width: 100px;
    height: 22px;
}

.flex {
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.warning {
    color: #ff0000;
    font-weight: bold;
    font-size: 14px;
}

.warning.green {
    color: #05a50b;
}